.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  background-color: #202124;
}
#bars {
  height: 24px;
  width: 35px;
  opacity: 70%;
  position: relative;
  left: 15px;
}
#navbar {
  position: relative;
  top: 15px;
}
#nav-element-1 {
  color: #8dc6ff;
  display: inline-block;
  margin-left: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  opacity: 90%;
  border-bottom: 2px solid #8dc6ff;
  padding-bottom: 10px;
  width: 10vw;
  text-align: center;
  font-size: 12px;
}
#nav-element-2 {
  color: white;
  display: inline-block;
  margin-left: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  opacity: 70%;
  font-size: 12px;
}
.fa-th {
  color: white;
  opacity: 70%;
  position: relative;
  left: 34vw;
  font-size: 18px;
}
#profile-pic {
  border-radius: 50%;
  height: 35px;
  position: relative;
  left: 40vw;
}
#google-logo {
  height: 140px;
  border-radius: 35px;
}
#google-search {
  width: 98vw;
  margin-left: 2vw;
  margin-top: 10px;
}
.d-inline-flex {
  margin: 0px;
}
.card-body {
  background-color: #202124;
  color: white;
  width: 100vw;
  text-align: left;
  padding-left: 12vw;
}
.dropdown-item {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  opacity: 70%;
}
#search {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.659);
  padding: 8px;
  display: inline-block;
  width: 95vw;
  margin-left: 2.5vw;
}
#arrow {
  height: 30px;
  width: 25px;
  margin-left: 5px;
}
.magnifying-glass {
  height: 20px;
  margin-right: 5px;
}
.top-image {
  width: 100vw;
}
.hrishita-pic {
  border-radius: 50%;
  height: 35px;
  z-index: 3;
  position: absolute;
  right: 3vw;
  top: 1.5vh;
}
.Heading {
  color: #ffb5b5;
  font-family: "Cedarville Cursive", cursive;
  margin-left: 4vw;
  margin-top: 3vh;
  font-size: x-large;
}
.pics {
  display: flex;
  flex: 1;
  width: 100vw;
}
.pic {
  width: 50vw;
}
.Info {
  color: white;
  margin-top: 4vh;
  padding: 10px;
  font-family: arial, sans-serif;
  background-color: #ffb5b5;
  border-radius: 25px;
}
.Heading-Large {
  color: #ffb5b5;
  font-family: "Cedarville Cursive", cursive;
  margin-left: 4vw;
  margin-top: 3vh;
  font-size: xx-large;
}
.video {
  width: 50vw;
  margin-top: 1vh;
}
.cele-pic {
  width: 100vw;
}
@media screen and (min-width: 600px) {
  .App {
    display: none;
  }
}
